In [48]:
import pandas as pd

In [49]:
house = pd.read_csv('Housing_Data.csv')
house.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [50]:
house.columns

Index(['Unnamed: 0', 'price', 'lotsize', 'bedrooms', 'bathrms', 'stories',
       'driveway', 'recroom', 'fullbase', 'gashw', 'airco', 'garagepl',
       'prefarea'],
      dtype='object')

In [78]:
X = house[['price', 'bedrooms', 'bathrms', 'stories']]
Y = house[['lotsize']]

In [81]:
# X['driveway'] = X['driveway'].map({'yes':1 , 'no':2})
# X['recroom'] = X['recroom'].map({'yes':1 , 'no':2})
X['price'] = X['price']/X['price'].max()

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [82]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [83]:
from sklearn import metrics

In [84]:
X.head()
lhmodel = LinearRegression()
lhmodel.fit(X,Y)
Yp = lhmodel.predict(X)
print(metrics.mean_absolute_error(Y,Yp))
print(metrics.mean_squared_error(Y,Yp))

1301.0611935359193
3201929.7243047426

In [85]:
pol = PolynomialFeatures(degree=10)
X_pol = pol.fit_transform(X)
lphmodel = LinearRegression()
lphmodel.fit(X_pol,Y)
Ypp = lphmodel.predict(X_pol)
print(metrics.mean_absolute_error(Y,Ypp))
print(metrics.mean_squared_error(Y,Ypp))

1015.7876164083516
2156276.9607004942

In [87]:
# X['driveway'] = X['driveway'].map({'yes':1 , 'no':2})
# X['recroom'] = X['recroom'].map({'yes':1 , 'no':2})
# X['price'] = X['price']/X['price'].max()

In [88]:
X.head()

      price  bedrooms  bathrms  stories
0  0.221053         3        1        2
1  0.202632         2        1        1
2  0.260526         3        1        1
3  0.318421         3        1        2
4  0.321053         2        1        1

In [89]:
from sklearn.preprocessing import StandardScaler
scl = StandardScaler()
scaled_data = scl.fit_transform(X)

In [90]:
pd.DataFrame(scaled_data)

            0         1         2         3
0   -0.979136  0.047235 -0.569495  0.221704
1   -1.110329 -1.310147 -0.569495 -0.931157
2   -0.698008  0.047235 -0.569495 -0.931157
3   -0.285686  0.047235 -0.569495  0.221704
4   -0.266944 -1.310147 -0.569495 -0.931157
..        ...       ...       ...       ...
541  0.876311  0.047235  1.423737  2.527427
542  0.970020  0.047235  1.423737  2.527427
543  1.307374  0.047235  1.423737  2.527427
544  1.382342  0.047235  1.423737  0.221704
545  1.382342  0.047235 -0.569495  0.221704

[546 rows x 4 columns]

In [91]:
pol = PolynomialFeatures(degree=2)
X_pol = pol.fit_transform(scaled_data)
lphmodel = LinearRegression()
lphmodel.fit(X_pol,Y)
Ypp = lphmodel.predict(X_pol)
print(metrics.mean_absolute_error(Y,Ypp))
print(metrics.mean_squared_error(Y,Ypp))

1238.7675829002703
2929018.220211238

In [92]:
(X['price'] - X['price'].mean())/X['price'].std()

0     -0.978239
1     -1.109312
2     -0.697368
3     -0.285425
4     -0.266700
         ...
541    0.875508
542    0.969132
543    1.306177
544    1.381075
545    1.381075
Name: price, Length: 546, dtype: float64

In [93]:
from sklearn.decomposition import PCA
pca = PCA(n_components=4)
x_pca = pca.fit_transform(scaled_data)

In [94]:
x_pca

array([[-0.67710331, -0.83998368,  0.06536611, -0.40755561],
       [-1.95516785,  0.38561661, -0.16342568, -0.37763072],
       [-1.084572  , -0.10939491,  0.6821312 ,  0.16509813],
       ...,
       [ 2.6551041 , -0.07774629, -1.58158394, -0.75454677],
       [ 1.58178846,  1.2009275 , -0.20658753,  0.04816614],
       [ 0.57503756,  0.04445761, -0.62020096,  1.25271041]])

In [95]:
pol = PolynomialFeatures(degree=15)
X_pol = pol.fit_transform(x_pca)
lphmodel = LinearRegression()
lphmodel.fit(X_pol,Y)
Ypp = lphmodel.predict(X_pol)
print(metrics.mean_absolute_error(Y,Ypp))
print(metrics.mean_squared_error(Y,Ypp))

948.3657216247319
1959299.901274893